<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript">
        function goBack(){
            window.history.back();
        }
    </script>
</th:block>

<div layout:fragment="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Modify Hub</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" method="post">
            <div class="box-body" th:object="${hub}">
                <div class="form-group">
                    <label for="inputHubName">hubName</label>
                    <input th:field="*{hubName}"  type="text" class="form-control" id="inputHubName" required>
                </div>
                <div class="form-group">
                    <label for="inputHubIp">hubIp</label>
                    <input th:field="*{hubIp}" type="text" class="form-control" id="inputHubIp" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" required>
                </div>
                <div class="form-group">
                    <label for="inputHubPass">hubPass</label>
                    <input th:field="*{hubPass}" type="text"  class="form-control" id="inputHubPass" required>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Modify</button>
                <button type="button" class="btn btn-warning" onclick="goBack();">Back</button>
            </div>
        </form>
    </div>

</div>
</html>